<div class="ui grid container">
  <!-- App description -->
  <div class="row">
    <h1 class="first">Check My Macros</h1>
    <p>Check My Macros is intented for persons who already have their <b>macronutrients</b>
      planned out, and wanna plan out their meals or check if a specific recipe
      or set of recipes fits their macro plan.</p>
  </div>
  <div class="doubling two column row">
    <div class="column">
      <!-- form to enter macros, left side of the page on desktop -->
      <macro-form (macrosPlanSet)="onMacrosPlanAdded($event)"></macro-form>
    </div>
    <div class="column">
      <!-- meal planning section -->
      <meal-plan-form (mealAdded)="onMealAdded($event)"></meal-plan-form>
      <meals-list (mealRemoved)="onMealRemoved($event)" [(mealList)]="listOfMeals"></meals-list>
    </div>
  </div>
  <div class="row">
    <nutrition-analysis [desiredMacrosPlan]="currentMacrosPlan"></nutrition-analysis>
  </div>

  

</div>
