<div class="ui grid container">
  <div class="row">
    <h3>Your meal plan</h3>
  </div>
  <div class="row">
      <form [formGroup]="mealPlanForm" class="ui form"
      (ngSubmit)="submitMealForAnalysis()">
      <div class="fields">
          <div class="field">
              <label>Meal title</label>
              <input type="text" formControlName="title">
            </div>
            <div class="field">
                <label>Number of servings in recipe</label>
                <input type="number" formControlName="servings">
            </div>
      </div>
     
      <div class="field">
          <label>Preparation instructions ( optional ) </label>
          <textarea rows="2"></textarea>
        </div>
      <div class="field">
          <label>Ingredients List</label>
          <textarea rows="4" formControlName="ingrs"></textarea>
        </div>
      <button class="ui primary button" [disabled]="!mealPlanForm.valid">
        Add
      </button>
    </form>
    <div class="ui message" *ngIf="response">
        <div class="header">
          NutritionResponse object
        </div>
        {{ response | json}}
      </div>
  </div>
</div>