<div class="ui grid contaner">
  <div class="row">
    <h2>Your macro</h2>
  </div>
  <div class="five wide column">
      <div class="ui right labeled input">
          <input type="number" placeholder="Carbohydrates">
          <div class="ui basic label">
            %
          </div>
        </div>
  </div>
  <div class="five wide column">
      <div class="ui right labeled input">
          <input type="number" placeholder="Fats">
          <div class="ui basic label">
            %
          </div>
        </div>
  </div>
  <div class="five wide column">
      <div class="ui right labeled input">
          <input type="number" placeholder="Protein">
          <div class="ui basic label">
            %
          </div>
        </div>
  </div>

</div>